.page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

.ramda_js {
    max-width: 1280px;
}

.company_name {
    margin-top: 61px;
    margin-bottom: 45px;
    width: 292px;
    height: 74px;
    font-family: 'Roboto', sans-serif;
    font-size: 61px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.cm_nm {
    color: #4bcaff;
}

.menu {
    margin-top: 30px;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    background-color: #35444f;
    height: 43px;
}

.top_mn_pp:hover {
    background-color: #222f3a;
    border: 1px solid #828282;
    height: 0;
}

.top_mn_pp {
    padding: 24px;
}

.menu a {
    text-align: center;
    display: inline-block;
    width: 247px;
    height: 22px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    margin-top: -7px;
}

.animal {
    display: inline-block;
    position: absolute;
    margin-top: 51px;
    width: 885px;
    height: 529px;
    border: 3px solid #222f3a;
    margin-left: 61px;
}

.side_menu {
    margin-top: 50px;
    display: inline-block;
    border: 3px solid #29424e;
    width: 320px;
    height: 399px;
}

.side_menu ul li {
    display: block;
    height: 78px;
}

.sd_mn_pp {
    text-decoration: none;
    padding-left: 40px;
    width: 144px;
    height: 25px;
    color: #3e5763;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 80px;
}

.side_menu ul li:hover {
    border: 3px solid #dbdbdb;
    background-color: #dbdbdb;
    padding-left: 69px;
}

.animal {
    text-align: center;
    transition: transform .2s
}

.animal img {
    position: relative;
    top: 80px;
    transition: transform .2s
}

.animal img:hover {
    transform: scale(1.2);
}

.text_section {
    width: 820px;
    text-align: justify;
    height: 109px;
    color: #2c2c2c;
    font-size: 18px;
    font-weight: 400;
    margin-left: 392px;
    display: inline-block;
    margin-top: 180px;
}

.text_section p {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    color: #2c2b2b;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    width: 882px;
    line-height: 1.5;
    font-size: large;
}

.block_2 {
}

.botom_menu {
    display: inline-block;
    margin-top: 50px;
    background-color: #b4b7ba;
    width: 100%;
    color: #0c1927;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.botom_menu a {
    display: inline-block;
    text-decoration: none;
    color: #001223;
    padding: 20px;
    text-align: left;
}

.botom_menu a:hover {
    text-decoration: underline;
    color: #0082a9;
}

.copyright {
    text-align: right;
    margin-left: 95px;
}